<div class='side-panel' id='todolistPanel' hidden>
  <button type='button' data-action='toggle-sidepanel' data-target='todolist' data-purpose='hide' aria-label='{{ 'Close'|trans }}' title='{{ 'Close'|trans }}' class='btn float-right mr-2'><i class='fas fa-xmark fa-2x'></i></button>
  <div class='p-3'>
    <h3 class='mb-3 py-2'>{{ 'To-do'|trans }}</h3>
    <div class='d-flex align-items-center justify-content-between mb-2'>
      <h3 class='h5 mb-0'>{{ 'Tasks and steps'|trans }}</h3>
      <div class='d-inline-flex rounded border-white p-1 align-items-center'>
        <span class='mb-0'>{{ 'User'|trans }}</span>
        <label class='mb-0 switch mx-1'>
          <span class='sr-only'>{{ 'Show steps for team'|trans }}</span>
          <input type='checkbox' id='todolistStepsShowTeam' autocomplete='off' aria-label='{{ 'Show steps for team'|trans }}'>
          <span class='slider'></span>
        </label>
        <span class='mb-0'>{{ 'Team'|trans }}</span>
      </div>
    </div>
    <div data-save-hidden='todolistMainDiv'>
      <div id='todolist'></div>
    </div>
  </div>
</div>
