{% block createnew %}{% endblock %}

{% block createmodal %}{% endblock %}

{% include('ownership-transfer-modal.html') %}

{# BOOKING PARAMS #}
{% include('booking-params-modal.html') %}
{# IMPORT FROM PUBCHEM #}
{% include('import-pubchem-modal.html') %}
{# PROCUREMENT PARAMS #}
{% include('procurement-params-modal.html') %}
{# BOOKINGS EMAIL #}
{% if Entity.entityData.type == 'items' and Entity.entityData.is_bookable == 1 %}
  {% include 'bookings-email-modal.html' %}
{% endif %}

<div id='isArchivedDiv'>
{% if Entity.entityData.state == enum('Elabftw\\Enums\\State').Archived.value %}
  {{ 'This entry is archived: it will not appear in the listings by default.'|trans|msg('ok', false) }}
{% endif %}
</div>

{# REQUEST ACTIONS #}
<div id='requestActionsDiv'>
  {% if entityRequestActionsArr %}
    <ul class='list-group mt-2'>
      {% for action in entityRequestActionsArr %}
        <li class='list-group-item'>
          <div class='d-flex'>
            <i class='fas fa-person-circle-exclamation mr-2'></i>
            <div>
              {{- '%s has requested %s for this entity from %s'|trans|format(
                action.requester_fullname,
                action.description,
                action.target_fullname
              ) }} <span title='{{ action.created_at }}' class='relative-moment text-nowrap smallgray ml-2'></span>
              <div class='mt-2'>
                {% if action.target_userid == App.Users.userData.userid %}
                  <button type='button' class='btn btn-primary btn-sm mr-2' data-action='do-requestable-action' data-target='{{ action.target }}'>{{ action.action }}</button>
                {% endif %}
                {% if action.requester_userid == App.Users.userData.userid or action.target_userid == App.Users.userData.userid %}
                  <button type='button' class='btn btn-sm btn-ghost' data-action='cancelrequestableaction' data-id='{{ action.id }}'>{{ 'Cancel'|trans }}</button>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{# REVIEW DECISIONS #}
<div id='reviewDecisionsDiv'>
  {% if entityReviewDecisionsArr %}
    <ul class='list-group mt-2'>
      {% for decision in entityReviewDecisionsArr %}
        <li class='list-group-item'>
          <i class='fas {{ decision.decision == "approved" ? "fa-check text-success" : "fa-xmark text-danger" }} mr-2'></i>
          {{- (decision.decision == "approved" ? '%s approved this' : '%s rejected this')|trans|format(decision.reviewer_fullname) }}
          <span title='{{ decision.reviewed_at }}' class='relative-moment text-nowrap smallgray ml-2'></span>
          {% if decision.comment %}
            <div class='mt-1 smallgray'>{{ decision.comment }}</div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{# CREATED FROM A TEMPLATE #}
{% if Entity.entityData.created_from_title %}
  <div id='createdFromDiv'>
    <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' data-scroll-btn='fa-file-import' data-scroll-btn-label='{{ 'Template'|trans }}' data-opened-icon='fa-caret-down' data-closed-icon='fa-caret-right' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='createdFromContent'><i class='fas fa-caret-down mr-2 fa-fw'></i>{{ 'Created from %s'|trans|format(Entity.entityData.created_from_type_human) }}</h3>
    <div id='createdFromContent' class='mt-2'>
      <a href='{{ Entity.entityData.created_from_page }}?mode=view&id={{ Entity.entityData.created_from_id }}' class='btn btn-secondary btn-sm'>
        <i class='fas fa-arrow-up-right-from-square mr-1'></i>{{ Entity.entityData.created_from_title }}
      </a>
      {% if Entity.entityData.created_from_version %}
        <span class='badge badge-secondary ml-1'>{{ 'Version %d'|trans|format(Entity.entityData.created_from_version) }}</span>
      {% endif %}
    </div>
  </div>
{% endif %}
{# EXPERIMENTS USING THIS TEMPLATE #}
{% if templateUsedByArr %}
  <div id='templateUsedByDiv'>
    <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' data-scroll-btn='fa-file-invoice' data-scroll-btn-label='{{ 'Used in'|trans }}' data-opened-icon='fa-caret-down' data-closed-icon='fa-caret-right' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='templateUsedByContent'><i class='fas fa-caret-down mr-2 fa-fw'></i>{{ 'Used in %d experiment(s)'|trans|format(templateUsedByArr|length) }}</h3>
    <ul id='templateUsedByContent' class='list-group mt-2'>
      {% for exp in templateUsedByArr %}
        <li class='list-group-item'>
          <a href='experiments.php?mode=view&id={{ exp.id }}'>{{ exp.title }}</a>
          {% if exp.created_from_version %}
            <span class='badge badge-secondary ml-1'>{{ 'Version %d'|trans|format(exp.created_from_version) }}</span>
          {% endif %}
          <span class='smallgray ml-2'>{{ exp.date }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{# PROCUREMENT REQUESTS #}
<div id='procurementRequestsDiv'>
  {% if entityProcurementRequestsArr %}
    <ul class='list-group mt-2'>
      {% for req in entityProcurementRequestsArr %}
        <li class='list-group-item'>
          <i class='fas fa-cart-shopping mr-2'></i>
          {{ 'A procurement request has been made by %s for a quantity of %d'|format(req.requester_fullname, req.qty_ordered)|trans }}<span title='{{ req.created_at }}' class='relative-moment text-nowrap smallgray ml-2'></span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
